  .title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .intro-text {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .quote {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    color: #555;
    margin: 15px 0px !important;
  }

  .vertical-timeline::before {
    background: #061c43 !important; /* Change color of the connecting line */
  }
  
  .vertical-timeline-element-content {
    box-sizing: border-box;
    border: 1px solid #061c43;
    padding-left: 10px;
    border-radius: 10px !important;
    transition: all 0.3s ease-in-out;
  }

  .vertical-timeline-element:hover .vertical-timeline-element-content {
    transform: scale(1.03);
    background: rgba(108, 99, 255, 0.1);
    border-left: 4px solid #6C63FF;
  }

  .about-title {
    font-size: 20px !important;
    font-weight: bold !important;
    margin-top: 0px !important;
    text-transform: uppercase;
    line-height: 1.5;
  }

  .about-subtitle {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #555;
    margin-top: 10px !important;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 1.8rem;
    }

    .intro-text {
      font-size: 1rem;
    }

    .quote {
      font-size: 0.9rem;
    }

  }

  @media (max-width: 475px) {
    .vertical-timeline-element-content {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      margin-left: 50px !important;
    }

    .quote {
      font-size: 20px;
    }

    .intro-text {
      font-size: 16px !important;
    }
  }